asn1crypto==0.24.0
Babel==2.7.0
beautifulsoup4==4.6.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==3.2
Django==2.2.3
django-advanced-filters==1.1.1
django-braces==1.13.0
django-cogwheels==0.2
django-cors-headers==3.1.0
django-extra-views==0.11.0
django-haystack==2.8.1
django-modeladmin-reorder==0.3.1
django-modelcluster==4.4
django-oscar==2.0
django-phonenumber-field==2.0.1
django-suit==0.2.26
django-tables2==1.21.2
django-taggit==0.24.0
django-treebeard==4.3
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
draftjs-exporter==2.1.6
factory-boy==2.12.0
Faker==2.0.1
html5lib==1.0.1
idna==2.8
mysqlclient==1.4.2
phonenumbers==8.10.17
Pillow==5.4.1
purl==1.5
pycountry==19.7.15
pycparser==2.19
pycrypto==2.6.1
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
simplejson==3.16.0
six==1.12.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
text-unidecode==1.2
Unidecode==1.1.1
urllib3==1.25.3
wagtail==2.5.1
wagtailmenus==2.13.1
webencodings==0.5.1
Willow==1.1
