{% load i18n suit_list %}

{% include 'admin/edit_inline/tabular.html' %}

{% block after_inline %}
    <div class="hidden" id="hidLabelRecord_{{ inline_admin_formset.formset.prefix }}">{% trans inline_admin_formset.opts.verbose_name_plural|capfirst %}</div>
    <div id="{{ inline_admin_formset.formset.prefix }}">
        <div class="suit-tab suit-tab-relations custom-suit-tab">
            {% with inline_admin_formset.formset.cl as cl %}
            {% if cl.paginator %}
            {% pagination cl %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            changeSumaryLabelTabularCustom('{{ inline_admin_formset.formset.prefix }}');
            if ($('.custom-suit-tab .paginator').children().length === 3 ) {
                $('.this-page').addClass('padding-right')
            }
        });
    </script>

{% endblock %}